body {
    background-image: url("../images/background.jpg");
}

.tClass {
    margin: auto;
    background: rgb(236, 232, 196, 0.5);
}

.img-size {
    height: auto;
    width: 180px;
    z-index: 2;
}

.capClass {
    z-index: 1;
    vertical-align: text-bottom;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.hp-display {
    background-color: rgb(240, 247, 221);
    width: 240 px;
    border: 2px solid rgb(22, 35, 59);
    
}

.div-display {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    height: 185px;
    padding: 20px 20px 10px 20px;
}